<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Meandre-Workbench</display-name>
  <welcome-file-list>
    <welcome-file>Workbench.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/workbench/gwt-log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IRepository</servlet-name>
    <servlet-class>org.seasr.meandre.workbench.server.rpc.Repository</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IRepository</servlet-name>
    <url-pattern>/workbench/Repository</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>download</servlet-name>
    <servlet-class>org.seasr.meandre.workbench.server.rpc.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>download</servlet-name>
    <url-pattern>/workbench/export_flow</url-pattern>
  </servlet-mapping>
</web-app>